In [1]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
from collections import defaultdict

In [2]:
csvfile = pd.read_csv('./CompleteData.csv')

In [3]:
csvfile = csvfile.fillna(0)

In [4]:
csvfile

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,DEW_POINT,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,8.89,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,0.61,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,0.61,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,18.28,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,12,WN,994,WN,994,N8566Z,PHX,ABQ,2022-12-31 12:37:00,...,8.28,85.48,30.02,5000.0,2.0,1.0,1.0,0.0,3.0,0.0
6954632,2022-12-31,19,WN,997,WN,997,N486WN,MEM,MCO,2022-12-31 19:19:00,...,11.72,90.29,29.95,700.0,1.0,1.0,0.0,0.0,4.0,0.0
6954633,2022-12-31,0,WN,998,WN,998,N448WN,SFO,BUR,2022-12-31 00:00:00,...,14.39,89.52,29.91,700.0,3.0,1.0,0.0,0.0,4.0,0.0
6954634,2022-12-31,10,WN,999,WN,999,N7836A,ATL,MIA,2022-12-31 10:23:00,...,12.22,93.32,30.02,8500.0,3.0,0.0,1.0,1.0,4.0,0.0
6954635,2022-12-31,7,WN,999,WN,999,N7836A,IND,ATL,2022-12-31 07:57:00,...,6.72,96.63,29.89,400.0,1.0,1.0,0.0,0.0,4.0,1.0

In [5]:
csvfile['FL_DATE'] = pd.to_datetime(csvfile['FL_DATE'])
csvfile['FL_DATE_MONTH'] = csvfile['FL_DATE'].dt.month

In [6]:
csvfile

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER,FL_DATE_MONTH
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0,1
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0,1
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0,1
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,12,WN,994,WN,994,N8566Z,PHX,ABQ,2022-12-31 12:37:00,...,85.48,30.02,5000.0,2.0,1.0,1.0,0.0,3.0,0.0,12
6954632,2022-12-31,19,WN,997,WN,997,N486WN,MEM,MCO,2022-12-31 19:19:00,...,90.29,29.95,700.0,1.0,1.0,0.0,0.0,4.0,0.0,12
6954633,2022-12-31,0,WN,998,WN,998,N448WN,SFO,BUR,2022-12-31 00:00:00,...,89.52,29.91,700.0,3.0,1.0,0.0,0.0,4.0,0.0,12
6954634,2022-12-31,10,WN,999,WN,999,N7836A,ATL,MIA,2022-12-31 10:23:00,...,93.32,30.02,8500.0,3.0,0.0,1.0,1.0,4.0,0.0,12
6954635,2022-12-31,7,WN,999,WN,999,N7836A,IND,ATL,2022-12-31 07:57:00,...,96.63,29.89,400.0,1.0,1.0,0.0,0.0,4.0,1.0,12

In [8]:
## get each airline and their average delay per month 
grouped_df = csvfile.groupby(['OP_UNIQUE_CARRIER','FL_DATE_MONTH']).mean()

In [9]:
grouped_df.to_csv('monthly_data.csv')

In [10]:
csvfile

,FL_DATE,DEP_HOUR,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,DEST,DEP_TIME,...,REL_HUMIDITY,ALTIMETER,LOWEST_CLOUD_LAYER,N_CLOUD_LAYER,LOW_LEVEL_CLOUD,MID_LEVEL_CLOUD,HIGH_LEVEL_CLOUD,CLOUD_COVER,ACTIVE_WEATHER,FL_DATE_MONTH
0,2022-01-01,6,AA,1,AA,1,N106NN,JFK,LAX,2022-01-01 06:57:00,...,96.69,29.92,300.0,2.0,1.0,0.0,0.0,4.0,0.0,1
1,2022-01-01,8,AA,10,AA,10,N101NN,LAX,JFK,2022-01-01 08:57:00,...,44.92,29.87,4800.0,1.0,1.0,0.0,0.0,2.0,0.0,1
2,2022-01-01,0,AA,1003,AA,1003,N830NN,STL,ORD,2022-01-01 00:00:00,...,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,2022-01-01,9,AA,1004,AA,1004,N805NN,ORD,FLL,2022-01-01 09:37:00,...,89.09,29.75,500.0,1.0,1.0,0.0,0.0,4.0,1.0,1
4,2022-01-01,23,AA,1007,AA,1007,N870NN,CLT,STL,2022-01-01 23:00:00,...,89.81,29.79,1500.0,3.0,1.0,0.0,1.0,3.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6954631,2022-12-31,12,WN,994,WN,994,N8566Z,PHX,ABQ,2022-12-31 12:37:00,...,85.48,30.02,5000.0,2.0,1.0,1.0,0.0,3.0,0.0,12
6954632,2022-12-31,19,WN,997,WN,997,N486WN,MEM,MCO,2022-12-31 19:19:00,...,90.29,29.95,700.0,1.0,1.0,0.0,0.0,4.0,0.0,12
6954633,2022-12-31,0,WN,998,WN,998,N448WN,SFO,BUR,2022-12-31 00:00:00,...,89.52,29.91,700.0,3.0,1.0,0.0,0.0,4.0,0.0,12
6954634,2022-12-31,10,WN,999,WN,999,N7836A,ATL,MIA,2022-12-31 10:23:00,...,93.32,30.02,8500.0,3.0,0.0,1.0,1.0,4.0,0.0,12
6954635,2022-12-31,7,WN,999,WN,999,N7836A,IND,ATL,2022-12-31 07:57:00,...,96.63,29.89,400.0,1.0,1.0,0.0,0.0,4.0,1.0,12

In [11]:
airports = np.unique(csvfile[['ORIGIN', 'DEST']].values.ravel())

In [12]:
airports

array(['ABE', 'ABI', 'ABQ', 'ABR', 'ABY', 'ACK', 'ACT', 'ACV', 'ACY',
       'ADK', 'ADQ', 'AEX', 'AGS', 'AKN', 'ALB', 'ALO', 'ALS', 'ALW',
       'AMA', 'ANC', 'APN', 'ART', 'ASE', 'ATL', 'ATW', 'ATY', 'AUS',
       'AVL', 'AVP', 'AZA', 'AZO', 'BDL', 'BET', 'BFF', 'BFL', 'BGM',
       'BGR', 'BHM', 'BIH', 'BIL', 'BIS', 'BJI', 'BKG', 'BLI', 'BLV',
       'BMI', 'BNA', 'BOI', 'BOS', 'BPT', 'BQK', 'BQN', 'BRD', 'BRO',
       'BRW', 'BTM', 'BTR', 'BTV', 'BUF', 'BUR', 'BWI', 'BZN', 'CAE',
       'CAK', 'CDC', 'CDV', 'CGI', 'CHA', 'CHO', 'CHS', 'CID', 'CIU',
       'CKB', 'CLE', 'CLL', 'CLT', 'CMH', 'CMI', 'CMX', 'CNY', 'COD',
       'COS', 'COU', 'CPR', 'CRP', 'CRW', 'CSG', 'CVG', 'CWA', 'CYS',
       'DAB', 'DAL', 'DAY', 'DBQ', 'DCA', 'DDC', 'DEC', 'DEN', 'DFW',
       'DHN', 'DIK', 'DLG', 'DLH', 'DRO', 'DRT', 'DSM', 'DTW', 'DVL',
       'EAR', 'EAT', 'EAU', 'ECP', 'EGE', 'EKO', 'ELM', 'ELP', 'ERI',
       'ESC', 'EUG', 'EVV', 'EWN', 'EWR', 'EYW', 'FAI', 'FAR', 'FAT',
       'FAY', 'FCA', 'FLG', 'FLL', 'FLO', 'FNT', 'FOD', 'FSD', 'FSM',
       'FWA', 'GCC', 'GCK', 'GEG', 'GFK', 'GGG', 'GJT', 'GNV', 'GPT',
       'GRB', 'GRI', 'GRK', 'GRR', 'GSO', 'GSP', 'GST', 'GTF', 'GTR',
       'GUC', 'GUM', 'HDN', 'HGR', 'HHH', 'HIB', 'HLN', 'HNL', 'HOB',
       'HOU', 'HPN', 'HRL', 'HSV', 'HTS', 'HYA', 'HYS', 'IAD', 'IAG',
       'IAH', 'ICT', 'IDA', 'IFP', 'ILG', 'ILM', 'IMT', 'IND', 'INL',
       'ISP', 'ITH', 'ITO', 'JAC', 'JAN', 'JAX', 'JFK', 'JLN', 'JMS',
       'JNU', 'JST', 'KOA', 'KTN', 'LAN', 'LAR', 'LAS', 'LAW', 'LAX',
       'LBB', 'LBE', 'LBF', 'LBL', 'LCH', 'LCK', 'LEX', 'LFT', 'LGA',
       'LGB', 'LIH', 'LIT', 'LNK', 'LRD', 'LSE', 'LWB', 'LWS', 'LYH',
       'MAF', 'MBS', 'MCI', 'MCO', 'MCW', 'MDT', 'MDW', 'MEI', 'MEM',
       'MFE', 'MFR', 'MGM', 'MHK', 'MHT', 'MIA', 'MKE', 'MKG', 'MLB',
       'MLI', 'MLU', 'MOB', 'MOT', 'MQT', 'MRY', 'MSN', 'MSO', 'MSP',
       'MSY', 'MTJ', 'MVY', 'MYR', 'OAJ', 'OAK', 'OGD', 'OGG', 'OGS',
       'OKC', 'OMA', 'OME', 'ONT', 'ORD', 'ORF', 'ORH', 'OTH', 'OTZ',
       'OWB', 'PAE', 'PAH', 'PBG', 'PBI', 'PDX', 'PGD', 'PGV', 'PHF',
       'PHL', 'PHX', 'PIA', 'PIB', 'PIE', 'PIH', 'PIR', 'PIT', 'PLN',
       'PNS', 'PPG', 'PQI', 'PRC', 'PSC', 'PSE', 'PSG', 'PSM', 'PSP',
       'PUB', 'PUW', 'PVD', 'PVU', 'PWM', 'RAP', 'RDD', 'RDM', 'RDU',
       'RFD', 'RHI', 'RIC', 'RIW', 'RKS', 'RNO', 'ROA', 'ROC', 'ROW',
       'RST', 'RSW', 'SAF', 'SAN', 'SAT', 'SAV', 'SBA', 'SBN', 'SBP',
       'SBY', 'SCC', 'SCE', 'SCK', 'SDF', 'SEA', 'SFB', 'SFO', 'SGF',
       'SGU', 'SHD', 'SHR', 'SHV', 'SIT', 'SJC', 'SJT', 'SJU', 'SLC',
       'SLN', 'SMF', 'SMX', 'SNA', 'SPI', 'SPN', 'SPS', 'SRQ', 'STC',
       'STL', 'STS', 'STT', 'STX', 'SUN', 'SUX', 'SWF', 'SWO', 'SYR',
       'TBN', 'TLH', 'TOL', 'TPA', 'TRI', 'TTN', 'TUL', 'TUS', 'TVC',
       'TWF', 'TXK', 'TYR', 'TYS', 'USA', 'VCT', 'VEL', 'VLD', 'VPS',
       'WRG', 'WYS', 'XNA', 'XWA', 'YAK', 'YKM', 'YUM'], dtype=object)

In [ ]:
data = {'nodes': [], 'links': []}
for airport in airports:
    data['nodes'].append({'id': airport})
for _, row in csvfile.iterrows():
    origin = row['ORIGIN']
    dest = row['DEST']
    data['links'].append({'source': origin, 'target': dest})